@{
    ViewData["Title"] = "List Product";
}

@model List<BulkyApp.Models.Models.Product>

<div class="container">

    <div class="card">
        <div class="card-header bg-primary bg-gradient text-white text-center text-white">
            <h1 class="card-title">
                Product List
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-end">
                    <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle-fill mr-1"></i> Add
                    </a>
                </div>
            </div>

            <partial name="_ValidationError" />

            <table class="table table-responsive table-stripped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>List Price</th>
                        <th>Price</th>
                        <th>Price 50</th>
                        <th>Price 100</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Title</td>
                            <td>@obj.Description</td>
                            <td>@obj.ISBN</td>
                            <td>@obj.Author</td>
                            <td>@obj.ListPrice</td>
                            <td>@obj.Price</td>
                            <td>@obj.Price50</td>
                            <td>@obj.Price100</td>
                            <td>
                                <div class="w-100 btn-group">
                                    <a asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <form asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" method="post">
                                        <button class="btn btn-danger">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>    
        </div>
    </div>

</div>
